body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  padding: 20px 40px;
}
header h1 {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 3vh;
  font-size: 3rem;
}
header h2 {
  font-size: 2rem;
}
.header-content {
  text-align: center;
  width: 60vw;
  font-size: 1rem;
  margin-bottom: 5vh;
}
.count-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.count-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 5vw;
  border-right: 1px solid white;
  padding: 0 20px;
}
.count-box:last-child {
  border: none;
}
.count-box p {
  width: 20vw;
  font-size: 60px;
  color: white;
  margin-bottom: -20px;
  letter-spacing: 2px;
}
.count-box span {
  font-size: 15px;
  font-weight: bold;
}
.firstsection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 5vw;
  width: 85vw;
}
.firstsection h3 {
  font-size: 2rem;
  color: green;
  margin-bottom: -10vh;
}
.firstsection h1 {
  font-size: 3rem;
  text-align: center;
}
article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30vw;
  gap: 10px;
}
article:nth-of-type(2), article:nth-of-type(4){
  margin-left: 15vw;
}

.up-side {
  display: flex;
  align-items: center;
  margin-left: -35px;
  margin-bottom: -3vh;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
.up-side svg {
  width: 20px;
  height: 20px;
}
article span {
  line-height: 20px;
  font-size: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
  width: 85vw;
  padding: 0 10px;
  margin: 10vh auto 0 auto;
}
.footer-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-menu ul {
  display: flex;
  flex-wrap: wrap;
  width: 15vw;
  height: 45vh;
  list-style-type: none;
  padding: 0 20px;
}
.footer-menu img {
  width: 100%;
  height: 20vh;
}
